name: Code Format Check

on:
  push:
  pull_request:

jobs:
  black-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install black

      - name: Check code formatting with Black
        run: black --check CSC510/proj2
